%html
    %head
        %title= "Minecraft Servers"
        %link{:rel => "stylesheet", :type => "text/css", :href => "css/style.css"}
        %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery.min.js"}
        %script{:type => "text/javascript", :src => "js/color_alternate.js"}
        %script{:type => "text/javascript", :src => "js/selectable.js"}
    %body
        .header= "Minecraft Servers"
        .contents
            %table#servers
                %tr
                    %th= "Name"
                    %th= "Up"
                    %th= "Port"
                    %th= "Root"
                    %th{:style => "text-align:left;"}= "Description"
                - @servers.each do |server|
                    %tr
                        %td= server.name
                        %td
                            - if server.running?
                                %span{:style => "color:green;"}= "YES"
                            - else
                                %span{:style => "color:red;"}= "NO"
                        %td= server.port
                        %td= server.relative_root(@mcroot)
                        %td{:style => "text-align:left;"}= server.desc
            #detail= ""
